/*--------------------------------------------------------------
# Schedule
--------------------------------------------------------------*/

.schedule .content-item {
  padding: 40px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.schedule .content-item span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: var(--title-color);
}
.schedule .content-item h4 {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 20px 0;
  color: var(--text-color);
}
.schedule .content-item p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .schedule .content-item {
    padding: 40px;
  }
}

.schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}
.schedule .nav-tabs li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.schedule .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
}
@media (max-width: 991px) {
  .schedule .nav-tabs a {
    padding: 8px 60px;
  }
}
@media (max-width: 767px) {
  .schedule .nav-tabs a {
    padding: 8px 50px;
  }
}
@media (max-width: 480px) {
  .schedule .nav-tabs a {
    padding: 8px 30px;
  }
}
#schedule .nav-tabs a.active {
  background-color: #f82249;
  color: #fff;
}

#schedule .tab-pane {
  transition: ease-in-out 0.2s;
}

.services-12 .grid {
  display: grid; }

.services-12 .grid-column-2 {
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-column-gap: 30px; }

.services-12 .tagline {
  color: var(--title-color);
  text-transform: capitalize;
  line-height: 37px;
  font-size: 30px;
  font-weight: 600; }

.services-12 li {
  font-size: 16px;
  line-height: 32px;
  list-style-type: none;
  color: var(--text-color); }

.services-12 li span.fa {
  color: var(--opposite-color); }

.services-12 .column1 h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  line-height: 28px;
  margin-top: 10px; }

.services-12 .column1 p {
  line-height: 24px;
  font-size: 16px;
  color: var(--text-color);
  font-weight: normal;
  font-style: normal; }

@media (max-width: 736px) {
  .services-12 .grid-column-2 {
    grid-template-columns: 1fr; } }

@media (max-width: 414px) {
  .services-12 .tagline {
    line-height: 24px;
    font-size: 18px; } }