:root  {
    --theme-color: #79c9f4 !important;
    --secondary-color: #FAAD17 !important;
    --opposite-color: #fdc800;
    --text-color: rgb(100, 100, 100);
    --title-color: #1A1D2D;
    --white-color: #ffffff;
    --light-bg-color: #f6f6f6; }
:root {
    --primary-color: #FAAD17 !important;
    --secondary-color: #79c9f4 !important;
    --font-color: #666;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: rgb(235, 228, 228);
    --nav-color: #292922;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f7f7f7;
    --bg-lightgrey: #f8f9fa;
    --layer: rgba(0, 0, 0, 0.45); }



/* ============ top navigation ============ */
.w3l-top-menu-1 .accounts li a {
    color: #3a3a3c !important;
}
/* ============ banner slider ============ */
.w3l-main-slider .banner-info-bg h5 {
    font-size: 50px !important;
    line-height: 68px;
    font-weight: 600;
    color: var(--white-color);
}
.w3l-main-slider .banner-view {
    background: url(../img/subject-science/chem_banner.jpg) no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center; }

.w3l-main-slider .banner-top1 {
    background: url(../img/subject-science/science_banner2.jpg) no-repeat;
    background-size: cover; }
.breadcrum-bg {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(1, 30, 63, 0.62), rgba(3, 12, 93, 0.68)), url(../img/subject-science/chem_banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed; }
.breadcrum-bg h2 {
    font-size: 44px;
    color: #fff;
    font-weight: 600; }

.breadcrum-bg p {
    font-size: 16px;
    color: #fff;
    margin-top: 10px; }

.breadcrum-bg p a {
    font-size: 16px;
    color: var(--primary-color); }

.breadcrum-bg p a:hover {
    text-decoration: underline;
    color: #fff; }

@media (max-width: 736px) {
    .breadcrum-bg h2 {
        font-size: 40px; } }

@media (max-width: 600px) {
    .breadcrum-bg h2 {
        font-size: 35px; } }
banner-view-chem
/* ============ button ============ */
.btn-secondary {
    color: #212529 !important;
    background-color: #fdc800 !important;
    border-color: #fdc800!important;
}


.heading {
    max-width: 750px; }

.heading h3 {
    font-size: 36px;
    line-height: 42px;
    color: var(--title-color);
    font-weight: 600; }

.heading p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px; }

.section-title h3:after {
    content: " ";
    border-bottom: 3px solid #FF9933;
    height: 3px;
    display: block;
    position: relative;
    top: 9px;
    width: 60px !important;
    margin: auto;
}

/* ============ testimonials ============ */

.w3l-testimonials {
    background: var(--bg-lightgrey); }

.w3l-testimonials .testimonial {
    position: relative;
    overflow: hidden;
    text-align: center; }

.w3l-testimonials .testimonial {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03); }

.w3l-testimonials blockquote q {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    opacity: .8; }

.w3l-testimonials blockquote q::before {
    font-size: 50px;
    color: var(--primary-color);
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif; }

.w3l-testimonials .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%; }

.w3l-testimonials .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.testi-des {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px; }

.w3l-testimonials .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em; }

.w3l-clients .testimonial .peopl {
    margin: 0;
    margin-left: 20px;
    text-align: left; }

.w3l-testimonials .testimonial .peopl h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px; }

.w3l-testimonials p.identity {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8; }

@media (max-width: 415px) {
    .w3l-testimonials .testimonial {
        padding: 25px 15px; } }

.owl-two.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 80px; }

.owl-two.owl-theme .owl-dots .owl-dot.active span, .owl-two.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--secondary-color);
    opacity: 1; }

.owl-two.owl-theme .owl-dots .owl-dot span {
    background: var(--secondary-color);
    opacity: .5; }

@media (max-width: 667px) {
    .owl-two.owl-carousel.owl-theme .owl-dots {
        position: inherit;
        left: 0px;
        right: 0px;
        bottom: 30px;
        margin-top: 80px;
        display: none; } }

/*--/testimonials--*/

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative; }

.owl-carousel {
    display: none;
    width: 100%; }

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none; }

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none; }

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block; }

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    border: none; }



@media (max-width: 992px) {
    .owl-theme .owl-nav {
        display: none !important; } }

@media (max-width: 568px) {
    .owl-carousel .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
        display: none; } }


.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
    display: block; }

.owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 30px;
    background: none; }

.w3l-testimonials .owl-dots {
    margin-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    background: none;
    display: block; }

.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 20px;
    margin: 0px;
    width: 46px;
    background: rgba(255, 255, 255, 0.21);
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 46px;
    line-height: 15px;
    border-radius: 50%; }

.owl-theme .owl-nav [class*=owl-]:hover {
    background: var(--bg-color);
    opacity: 1;
    color: var(--primary-color);
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in-out; }

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
    outline: none;
    box-shadow: none; }

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px; }

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent; }

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 8px;
    margin: 5px 2px;
    background: #aaa;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    position: relative;
    opacity: 0.9;
    border-radius: var(--border-radius); }

button.owl-next,
button.owl-prev {
    position: absolute;
    bottom: 50%; }

button.owl-prev {
    left: 20px; }

button.owl-next {
    right: 20px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--bg-color); }

.owl-theme .owl-dots .owl-dot.active span {
    width: 25px; }

/* ============ register form ============ */
.register-photo {
    background: #f1f7fc;
    padding: 80px 0;
}

.register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url(../../assets/img/subject-science/student.png);
    background-size: cover;
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    color: #505e6c;
}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px;
    }

}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
}

.register-photo form .btn-primary {
    background: #FAAD17;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background: #79c9f4;
}

.register-photo form .btn-primary:active {
    transform: translateY(1px);
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}
.three-grids-columns{
    background-color: transparent;
}






